body{
    background-color: beige;
}




#index{

    background: url(../assets/assets/h_img.jpg) no-repeat;
    background-size: 100% 100%;
    height: 55%;
    text-align: center;
    color: white;
}
#pic{
    margin-top: 5%;
}
.wlcme{
    font-size: 28px;
}
.amazing{
    font-size: 12px;
}

<!-- About us -->
#about h1{
    text-align: center;
}
#about{
    text-align: center;
}

#services{
    background-image: url(../assets/assets/s_image.jpg);
    background-size: cover;
    height: 55%;
    clear: both;
    text-align: center;
    color: white;
    padding-top: 5%;
}

.column{
    text-align: center;
    font-size: 15px;
}

.column img{
    border: 0px;
    color: beige;
}

<!-- form-->

#contact{
    background-image: url(assets/assets/c_image.jpg);
    width: 100%;
    opacity: 0.1
}
.do h1{
    text-align: center;
}

#form{
    background-image: url(../assets/assets/c_image.jpg);
    background-size: 100% 100%;
    height: 55%;
    color: white;
}
#form h1{
    text-align: center;
}

.logo img{
    margin: 2%;
    border-radius: 50%;
    border: 0;


.logo {
    text-align: center;
}
